@using ProjectBuilder.Web.MVC.Models;

@{
    ViewData["Title"] = "About";
}
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<div class="scenarios_main-container">
    <nav id="sidebarMenu" class="sidenavbar">
    </nav>
    
    
    
    
    <div class="scenarios_maincontent-container" style="width:95%;">

        <h2>ProjectBuilder is an open source system developed by Spy Pond Partners, LLC for PennDOT.</h2>
   
        
    </div>
    @section Styles{
        <link rel="stylesheet" href="~/css/scenarios_styles.css" />
    }
    