USE [SPP_PBv1]
GO
/****** Object:  StoredProcedure [dbo].[sp_pb_PopulateLibraryTreatments]    Script Date: 12/6/2023 4:58:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[sp_pb_PopulateLibraryTreatments] 
	@LibraryId VARCHAR(100),
	@SourceLibraryId VARCHAR(100) = NULL,
	@FromScratch BIT = 0,
	@AssetType CHAR(1) = NULL,	-- from here on NULL in filtering parameters means any
	@District TINYINT = NULL,	
	@Cnty TINYINT = NULL,
	@Route INT = NULL,
	@SimulationId VARCHAR(100) = NULL,
	@SimulationOutputId VARCHAR(100) = NULL,
	@NetworkId VARCHAR(100) = NULL,
	@MinYear INT = NULL,
	@MaxYear INT = NULL
AS
BEGIN
	SET NOCOUNT ON;

	PRINT 'sp_pb_PopulateLibraryTreatments - started...'
    DECLARE @RowCount BIGINT;
	DECLARE @LibraryGuid UNIQUEIDENTIFIER;
	DECLARE @SimulationGuid UNIQUEIDENTIFIER = NULL;
	DECLARE @SimulationOutputGuid UNIQUEIDENTIFIER = NULL;
	DECLARE @NetworkGuid UNIQUEIDENTIFIER = NULL;
	DECLARE @SourceLibraryGuid UNIQUEIDENTIFIER = NULL;

	SET @LibraryGuid = CONVERT(UNIQUEIDENTIFIER, @LibraryId);

	IF @SimulationId IS NOT NULL BEGIN
		SET @SimulationGuid = CONVERT(UNIQUEIDENTIFIER, @SimulationGuid)
	END

	IF @SimulationOutputId IS NOT NULL BEGIN
		SET @SimulationOutputGuid = CONVERT(UNIQUEIDENTIFIER, @SimulationOutputId)
	END

	IF @NetworkId IS NOT NULL BEGIN
		SET @NetworkGuid = CONVERT(UNIQUEIDENTIFIER, @NetworkId)
	END

	IF @SourceLibraryId IS NOT NULL BEGIN
		SET @SourceLibraryGuid = CONVERT(UNIQUEIDENTIFIER, @SourceLibraryId)
	END

	IF @FromScratch=1 BEGIN
		DELETE FROM dbo.tbl_lib_LibraryTreatments WHERE LibraryId = @LibraryGuid
	END ELSE BEGIN
		DELETE FROM dbo.tbl_lib_LibraryTreatments WHERE LibraryId = @LibraryGuid
			AND ISNULL(@AssetType, AssetType) = AssetType
			AND ISNULL(@District, District) = District
			AND ISNULL(@Cnty, Cnty) = Cnty
			AND ISNULL(@Route,[Route]) = [Route]
			AND ((@SimulationId IS NOT NULL AND SimulationId = @SimulationId) OR (@SimulationId IS NULL))
			AND ((@NetworkId IS NOT NULL AND NetworkId = @NetworkId) OR (@NetworkId IS NULL))
			AND ISNULL(@MinYear, PreferredYear) <= PreferredYear
			AND ISNULL(@MaxYear, PreferredYear) >= PreferredYear;
    END
	SET @RowCount = @@ROWCOUNT;

	PRINT 'Records deleted from tbl_lib_LibraryTreatments: ' + CONVERT(VARCHAR(10), @RowCount);
	
	IF @SourceLibraryGuid IS NULL BEGIN
		
INSERT INTO tbl_lib_LibraryTreatments
           (LibraryId
           ,ImportedTreatmentId
           ,ImportTimeGeneratedId
           ,SimulationId
           ,NetworkId
           ,AssetId
           ,AssetType
           ,Asset
           ,District
           ,Cnty
           ,[Route]
           ,Direction
           ,FromSection
           ,ToSection
           ,Offset
           ,Interstate
           ,Treatment
           ,Benefit
           ,Cost
           ,Risk
           ,PriorityOrder
           ,PreferredYear
           ,MinYear
           ,MaxYear
           ,BRKEY
           ,BRIDGE_ID
           ,RemainingLife
           ,TreatmentFundingIgnoresSpendingLimit
           ,TreatmentStatus
           ,TreatmentCause
           ,IsCommitted
           ,IsIsolatedBridge
          )
	SELECT @LibraryGuid AS LibraryId
		   ,TreatmentId AS ImportedTreatmentId
           ,ImportTimeGeneratedId
           ,SimulationId
           ,NetworkId
           ,AssetId
           ,AssetType
           ,Asset
           ,District
           ,Cnty
           ,[Route]
           ,Direction
           ,FromSection
           ,ToSection
           ,Offset
           ,Interstate
           ,Treatment
           ,Benefit
           ,Cost
           ,Risk
           ,PriorityOrder
           ,PreferredYear
           ,MinYear
           ,MaxYear
           ,BRKEY
           ,BRIDGE_ID
           ,RemainingLife
           ,TreatmentFundingIgnoresSpendingLimit
           ,TreatmentStatus
           ,TreatmentCause
           ,IsCommitted
           ,IsIsolatedBridge
	  FROM dbo.tbl_pb_ImportedTreatments WITH (NOLOCK)
	  WHERE ISNULL(@AssetType, AssetType) = AssetType
		AND ISNULL(@District, District) = District
		AND ISNULL(@Cnty, Cnty) = Cnty
		AND ISNULL(@Route,[Route]) = [Route]
		AND ((@SimulationId IS NOT NULL AND SimulationId = @SimulationId) OR (@SimulationId IS NULL))
		AND ((@NetworkId IS NOT NULL AND NetworkId = @NetworkId) OR (@NetworkId IS NULL))
		AND ISNULL(@MinYear, PreferredYear) <= PreferredYear
		AND ISNULL(@MaxYear, PreferredYear) >= PreferredYear
	
		SET @RowCount = @@ROWCOUNT;
		PRINT 'Records inserted into tbl_lib_LibraryTreatments (from master source): ' + CONVERT(VARCHAR(10), @RowCount);

	END ELSE BEGIN

		INSERT INTO dbo.tbl_lib_LibraryTreatments
			(LibraryId
           ,ImportedTreatmentId
           ,ImportTimeGeneratedId
           ,SimulationId
           ,NetworkId
           ,AssetId
           ,AssetType
           ,Asset
           ,District
           ,Cnty
           ,[Route]
           ,Direction
           ,FromSection
           ,ToSection
           ,Offset
           ,Interstate
           ,Treatment
           ,Benefit
           ,Cost
           ,Risk
           ,PriorityOrder
           ,PreferredYear
           ,MinYear
           ,MaxYear
           ,BRKEY
           ,BRIDGE_ID
           ,RemainingLife
           ,TreatmentFundingIgnoresSpendingLimit
           ,TreatmentStatus
           ,TreatmentCause
           ,IsCommitted
           ,IsIsolatedBridge
		   ,IsUserTreatment
		   ,UserTreatmentTypeNo
		   ,IndirectCostDesign
		   ,IndirectCostROW
		   ,IndirectCostUtilities
		   ,IndirectCostOther)
	SELECT @LibraryGuid AS LibraryId
		   ,ImportedTreatmentId
           ,ImportTimeGeneratedId
           ,SimulationId
           ,NetworkId
           ,AssetId
           ,AssetType
           ,Asset
           ,District
           ,Cnty
           ,[Route]
           ,Direction
           ,FromSection
           ,ToSection
           ,Offset
           ,Interstate
           ,Treatment
           ,Benefit
           ,Cost
           ,Risk
           ,PriorityOrder
           ,PreferredYear
           ,MinYear
           ,MaxYear
           ,BRKEY
           ,BRIDGE_ID
           ,RemainingLife
           ,TreatmentFundingIgnoresSpendingLimit
           ,TreatmentStatus
           ,TreatmentCause
           ,IsCommitted
           ,IsIsolatedBridge
		   ,IsUserTreatment
		   ,UserTreatmentTypeNo
		   ,IndirectCostDesign
		   ,IndirectCostROW
		   ,IndirectCostUtilities
		   ,IndirectCostOther
	  FROM dbo.tbl_lib_LibraryTreatments WITH (NOLOCK)
	  WHERE LibraryId = @SourceLibraryGuid
		AND ISNULL(@AssetType, AssetType) = AssetType
		AND ISNULL(@District, District) = District
		AND ISNULL(@Cnty, Cnty) = Cnty
		AND ISNULL(@Route,[Route]) = [Route]
		AND ((@SimulationId IS NOT NULL AND SimulationId = @SimulationId) OR (@SimulationId IS NULL))
		AND ((@NetworkId IS NOT NULL AND NetworkId = @NetworkId) OR (@NetworkId IS NULL))
		AND ISNULL(@MinYear, PreferredYear) <= PreferredYear
		AND ISNULL(@MaxYear, PreferredYear) >= PreferredYear
	
		SET @RowCount = @@ROWCOUNT;
		PRINT 'Records inserted into tbl_lib_LibraryTreatments (from ' + @SourceLibraryId + '): ' + CONVERT(VARCHAR(10), @RowCount);
	END

	UPDATE tbl_lib_UserLibraries SET SourceLibraryId=@SourceLibraryGuid, UpdatedBy=USER, UpdatedAt=CURRENT_TIMESTAMP
	WHERE Id=@LibraryGuid;

	SET @RowCount = @@ROWCOUNT;
	PRINT 'Records updated in tbl_lib_UserLibraries: ' + CONVERT(VARCHAR(10),@RowCount);

	PRINT 'sp_pb_PopulateLibraryTreatments - ended.'

END
