@using ProjectBuilder.Web.MVC.Models;

@model ChartsViewModel

@{
    ViewData["Title"] = "Budget Spent";
}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="charts_main-container">
    <partial name="~/Views/shared/navbarshared/_outputsnavbar.cshtml" />
    <div class="charts_maincontent">
        <div class="charts_main-header">
            <h1>Budget Spent</h1>
            <h1>@Model.ScenarioName</h1>
        </div>
        <div class="charts_main-body">
            <div class="charts_main-filter">
                <div class="card">
                    <form asp-controller="ChartsData" asp-action="LoadBudgetSpentCharts" class="charts_main-filter_form"
                          id="filterform" method="post" chart="budget">
                        <div class="charts_main-filter_form-body">
                            <input name="scenid" id="scenid" value="@Model.ScenarioId" hidden>

                            <select class="form-select" name="scenario_id" id="scenario_id" data-filter=" scenario">
                                <option value="" selected>Select Scenario</option>
                            </select>

                            <select class="form-select" name="district">
                                <option selected disabled>Select District</option>
                                @foreach (var district in Model.Districts)
                                {
                                    <option value="@district">District @district</option>
                                }
                            </select>
                        </div>
                        <button id="filter" type="submit" class="btn btn-primary">Filter</button>
                    </form>
                </div>
            </div>
            <div id="chartcontainer" class="charts_main-chart">
                @if (!Model.ScenarioId.HasValue)
                {
                    <div class="error_container">
                        <p>To view Budget Spent Charts you need to select a scenario first.</p>
                    </div>
                }
                else
                {
                    <div class="error_container">
                        <p>To view Charts select a district first.</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Styles{
    <link rel="stylesheet" href="~/css/charts_styles.css" />
}
<div id="loader-container">
    <div id="loader" class="loader"></div>
</div>
    <script>
    function showLoader() {
        document.getElementById('loader-container').style.display = 'block';
    }

    function hideLoader() {
        document.getElementById('loader-container').style.display = 'none';
    }


    $(function () {
        var scenId = $('#scenid').val();


        $.ajax({
            type: 'GET',
            url: "/Scenarios/GetScenarios",
            contentType: 'application/json',
            success: function (response) {
                $("#scenario_id").html("<option value=''>Select Scenario</option>");
                $.each(response.scenarios, function (key, value) {
                    if (scenId == value.scenarioId)
                        $("#scenario_id").append("<option value='" + value.scenarioId + "' selected>" + value.scenarioName + "</option>");
                    else
                        $("#scenario_id").append("<option value='" + value.scenarioId + "'>" + value.scenarioName + "</option>");
                });
                hideLoader();
            }
        });


        showLoader();

        // Set a timeout to hide the loader after 3 seconds
        setTimeout(function () {
            hideLoader();
        }, 3000);


        $(document).on("change", "#scenario_id", function () {
            if ($(this).val())
                window.location.href = "/Charts/BudgetSpent?scenid=" + $(this).val();
            else
                window.location.href = "/Charts/BudgetSpent";
        });

        var currentUrl = window.location.href;
        var url = new URL(currentUrl);
        var searchParams = new URLSearchParams(url.search);
        var fromScenario = searchParams.get("fromscenario");
        if (fromScenario == "true") {
            $("#scenario_id").hide();
        }
    });
        function validateDropdown() {
            var scenariodropdown = document.getElementById('scenarioDropdown');
            var districtDropdown = document.getElementById('districtDropdown');

            var validationMessage = document.getElementById('validationMessage');

            if (scenariodropdown.value === "") {
                scenerioValidationMessage.textContent = 'Please select a scenario';
                return false;
            }
            else {
                scenerioValidationMessage.textContent = '';
            }

            if (districtDropdown.value === "") {
                districtValidationMessage.textContent = 'Please select a District';
                return false;
            }
            else {
                scenerioValidationMessage.textContent = '';
            }

            validationMessage.textContent = '';
            return true;
        }
    </script>